.card {
    position: relative;
    height: 100%;
    background-size: cover;
    background-clip: content-box;
    /* border-radius: 20px; */
    background-position: center center;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px,
        rgba(0, 0, 0, 0.3) 0px 19px 38px;         */
}

.card_inner {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    padding: 2rem 1.3rem 2rem 2rem;
    transition: all 0.4s ease 0s;
}

.card:hover .card_inner {
    opacity: 1;
}

.card_inner p {
    overflow-y: scroll;
    height: 87%;
    padding-right: 1rem;
    margin-top: 1.5rem;
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
}

.flex {
    display: flex;
}
.block {
    display: block;
}


/*different cards*/
.card1 {
    width: 20vw;
    /* background-image: url('../image/profile.jpg'); */
    background-color: purple;
}
.card2 {
    width: 70vw;
    background-color: blueviolet;
    /* background-image: url('../image/AI.jpg'); */
}
.card3 {
    width: 10vw;
    background-color: blue;
    /* background-image: url('../image/AI.jpg'); */
}
.card4 {
    width: 20vw;
    background-color: brown;
    /* background-image: url('../image/AI.jpg'); */
}
.card5 {
    width: 30vw;
    background-color: green;
    /* background-image: url('../image/AI.jpg'); */
}
.card6 {
    width: 50vw;
    background-color: goldenrod;
    /* background-image: url('../image/AI.jpg'); */
}
.card7 {
    width: 20vw;
    background-color: greenyellow;
    /* background-image: url('../image/AI.jpg'); */
}
.card8 {
    width: 35vw;
    background-color: sandybrown;
    /* background-image: url('../image/AI.jpg'); */
}
.card9 {
    width: 25vw;
    background-color: steelblue;
    /* background-image: url('../image/AI.jpg'); */
}


/*different height*/
.height-100 {
    height: 100%;
}
.height-80 {
    height: 80%;
}
.height-70 {
    height: 70%;
}
.height-30 {
    height: 30%;
}
.height-20 {
    height: 20%;
}